<form name="form1" action="controllerForm" method="post">

<h1>Cadastro de Cliente</h1>

    <input type="hidden" name="cliente_id" id="cliente_id" placeholder="cliente_id"><br>
    <input type="text" name="nome_cliente" id="nome_cliente" placeholder="Nome"><br>
    <input type="text" name="endereco_cliente" id="endereco_cliente" placeholder="Endereço"><br>
    <input type="text" name="cel_cliente" id="cel_cliente" placeholder="Celular"><br>
    <input type="text" name="email_cliente" id="email_cliente" placeholder="Email"><br>
    <input type="text" name="senha_cliente" id="senha_cliente" placeholder="Senha"><br>
    <input type="text" name="datanasc_cliente" id="datanasc_cliente" placeholder="Data Nascimento"><br>
    <input type="text" name="rg_cliente" id="rg_cliente" placeholder="RG"><br>
    <input type="text" name="cpf_cliente" id="cpf_cliente" placeholder="CPF"><br>

    <input type="submit" name="btnSubmit" id="btnSubmit" placeholder="Add"><br>
   
</form>


